header, footer, #left, #right{
  text-align: center;
   padding : 20px 0px 20px 0px; 
}
header{
    width: 100%;
    color: white;
    font-size : 50px;
    background-color: gray;
  
}

section{
    width: 100%;
    position: relative;
    display: inline-block;
}

#left{
    box-sizing:border-box;
    width: 50%;
    float: left;

}

#right{
    box-sizing:border-box;
    width: 50%;
    float: right;
    text-align: left;
    font-size: 20px;
    padding : 0px 60px 0px 0px;
}
/* footer{

} */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }